/* Variables */
:root {
    --bck-clr : #FFF;
    --bck-clr-alt : #262626;
    --header-clr : #FFF;
    --paper-bck-clr : #F8F7F2;
    --paper-clr : #444;
    --paper-border-blue : #d9eaf3;
    --paper-border-red : #efe4e4;
    --paper-shadow : rgba( 0, 0, 0, 0.4 );
    --review-bck-clr : rgba( 255, 255, 255, 0.7 );
    --font-clr : #262626;
    --font-clr-alt : #F3F3F3;
    --bold : #1A1A1A;
    --italic : #222;
    --border-clr : #BFBFBF;
    --border-transparent : rgba( 26, 26, 26, 0.2);
    --logo-bck-clr : #FFF;
    --light-blue : #1CB0AD;
    --red : #DA2741;
    --darker-red : #DB1957;
    --green : #00A866;
    --blue : #00A5D0;
    --fading-border : linear-gradient(to right, rgba(226,196,188,0) 5%, rgba(226,196,188,1) 50%, rgba(226,196,188,0) 95%);
}

[data-theme="pink"] {
    --bck-clr : #F1D3DB;
    --logo-bck-clr: #F8F7F2;
    --header-clr : #F8F7F2;
}

[data-theme="dark"] {
    --bck-clr : #262626;
    --header-clr : #1A1A1A;
    --font-clr : #f3f3f3;
    --bold : #F9F9F9;
    --italic : #FFF;
    --border-clr : #1A1A1A;
    --logo-bck-clr : #1A1A1A;
    --fading-border : linear-gradient(to right, rgba(26,26,26,0) 5%, rgba(26,26,26,1) 50%, rgba(26,26,26,0) 95%);
}

/*Basic Styling */
*{
	box-sizing : border-box;
	vertical-align : baseline;
	-webkit-font-smoothing : antialiased;
}

strong, bold {
	font-weight : 700;
	color : var(--bold);
}

i, em {
	font-weight : 400;
	color : var(--italic);
}

body, html{
	margin : 0;
	padding : 0;
	font-size : 1.15em;
	text-align : center;
	transition : background 0.6s ease;
	line-height : 1.5em;
	font-family : neuton, Cambria, Georgia, serif;
	color : var(--font-clr);
}

body {
	/*iphone 4 screen size */
	min-width : 320px;
	min-height : 480px;
	background-color : var(--bck-clr);
}

a {
	text-decoration : none;
	color : var(--light-blue);
	transition : opacity 0.6s ease;
}

ul {
	padding : 0;
	margin : 0;
}

ul li {
	list-style : none;
}

section {
	display : none;
	margin : 0 auto;
	margin-bottom : 4em;
	max-width : 1920px;
	max-height : 1080px;
}

#theme_warning {
    position : fixed;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    cursor : pointer;
    text-align : center;
    padding-top : 5em;
    z-index : -10;
    opacity : 0;
    pointer-events : none;
    transition : opacity 0.6s ease-in-out;
}

#theme_warning.display {
    opacity : 1;
    pointer-events : all;
    z-index : 10;
}

#theme_warning p {
    width : 15em;
    background-color : var(--darker-red);
    color : var(--paper-bck-clr);
    margin : 0 auto;
    padding : 0.5em;
    box-shadow : 0 2px 10px var(--paper-shadow); 
    border-radius : 0.2em;
}

#theme_warning a { color : var(--paper-bck-clr); font-weight: 700; }

header { width : 100%; background-color : var(--header-clr); }
header ul {
	text-align : left;
	padding : 0.5em;
}

header ul li:not(.inline) {
	margin-bottom : 0.3em;
}

header ul li:not(.inline)::after {
	content : '';
	display : block;
	width : 100%;
	height : 1px;
	margin-top : 0.3em;
    background : var(--fading-border);
}

[data-theme="dark" ] header ul li::after { display : none !important; }

.style_controls {
	position : relative;
	font-size : 0.8em;
	padding-bottom : 0.5em;
}

/* Styles */
.logo {
	font-family : satisfy, cursive;
	font-weight : 400;
	font-size : 1.25em;
	position : relative;
	margin : 0;
	padding : 1em 0 0.6em 0;
	z-index : 3;
    background-color : var(--logo-bck-clr);
}

.logo span { 
    background : var(--logo-bck-clr);
    transition : 0.6s background-color ease;
    position : relative;
}

.logo::before {
    background : var(--fading-border);
	position : absolute;
	height : 1px;
	width : 100%;
	top : 55%;
	left : 0;
	content : '';
	display : block;
	z-index : -1;
}

.logo span::after {
	content : url(../imgs/logo_img.svg);
	position : absolute;
	top: -60%;
	left: 34%;
	width: 40%;
}

.data { display : none; }

.welcome_para {
	width : 100%;
	padding : 0 10%;
	margin : 0 auto;
	margin-bottom : 1em;
	text-align : left;
	position : relative;
	transition : background-color 0.6s ease, box-shadow 0.6s ease;
}

.error_msg {
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index : 10;
}

.internal_error_msg {
	width : 50%;
	border : 1px solid var(--red);
	background-color : var(--bck-clr-alt);
	margin-top : 15%;
	border-radius : 0.125em;
	margin-left : 25%;
	padding : 1em;
	box-shadow : 0 0 5em var(--bck-clr-alt);
	color : var(--font-clr-alt);
}

.label {
	width : 5em;
	display : inline-block;
	text-align : left;
	margin-left : 0.5em;
	font-weight : 200;
}

.language_select {
	margin-left : 0.5em;
	margin-top : 1em;
}

.circleNum {
	color : var(--font-clr-alt);
	background-color : var(--blue);
	width : 1.7em;
	height : 1.7em;
	border-radius : 1.7em;
	display : inline-block;
	text-align : center;
}
.results_answer.circleNum, .answer_num.circleNum { background-color : var(--green); }

.question_answer { margin : 0 0 2em 0; }
.question_answer::before {
	content : '';
	display : block;
	width : 100%;
	height : 1px;
    background : var(--fading-border);
}
.question .circleNum {font-weight : 200; margin-right : 0.5em; font-size : 0.6em;}

.question, .answer { animation-duration : 0.6s !important;}

.results_list {
	text-align : left;
}

.results_list li {
	margin-bottom : 0.4em;
}

.results_list li::after {
	content : '';
	display : block;
	width : 100%;
	height : 1px;
    background : var(--fading-border);
	margin-top : 0.4em;
}

.results_list .phrases::after { display : none; }
.fullWidth { width : auto; }
.results_phrases { margin-left : 0.5em; display : inline-block;}

/* Paper Background : http://www.techrepublic.com/blog/web-designer/how-to-get-the-ruled-paper-background-effect-with-css3/*/

.paper {
	position: relative;
	margin : 0 auto;
	padding : 0 0 0.3125em 2.625em;
	color : var(--paper-clr);
	line-height : 1.25em;
	background-image : linear-gradient(to top, var(--paper-border-blue) 0%, var(--paper-bck-clr) 8%);
	background-size : 100% 1.25em;
	border-radius : 0.1875em;
	box-shadow : 0 0.125em 0.25em var(--paper-shadow);
	width : 80%;
	text-align : left;
	font-family : satisfy, cursive;
}

.paper::before {
	content : '';
	position : absolute;
	width : 0.25em;
	top : 0;
	left : 1.875em;
	bottom : 0;
	border : 1px solid;
	border-color : transparent var(--paper-border-red);
}

.head {
	background-color : var(--paper-bck-clr);
	min-height : 1.875em;
	margin-left : -2.625em;
	margin-top : -0.25em;
}

.text { margin-top : -0.25em; line-height : 1.30em;}

.reviewPhrases {
	position : fixed;
	overflow-y : auto;
	overflow-x : hidden;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	display : none;
	background-color : var(--review-bck-clr);
	z-index : 10;
	min-height : 32em;
	-webkit-overflow-scrolling : touch;
}

.reviewPhrases .paper {
	margin-top : 1em;
	margin-bottom : 5em;
	width : 95%;
}

.change_font {
	position: absolute;
	z-index: 5;
	width: 100%;
	margin-top: 1em;
	text-align: left;
	margin-left: 0.5em;
}

.reviewPhrases .label { margin-right :0.5em; width : auto; margin-left : 0; color : var(--bck-clr-alt);}

/* Form Elements */
.std_btn {
	background : var(--blue);
	border : 1px solid var(--blue);
	border-radius : 0.25em;
	color : var(--font-clr-alt);
	font-size : 1em;
	padding : 0.2em 0.5em;
	font-family : satisfy, neuton, serif;
	position : relative;
	transition : 0.6s all ease;
	transition-property : color, border;
	cursor : pointer;
	display : inline-block;
	margin : 0;
}
.std_btn:disabled{ opacity : 0.2; }
.error_btn { border-color : var(--red); background-color : var(--red);}
.correct_btn { border-color : var(--green); background-color : var(--green);}
.file { display : none; }
.logo_btn { background-color : var(--light-blue); }
.fixed_right_btn {
	position : fixed;
	right : 0.5em;
	top : 2.5em;
	z-index : 11;
}
.left_border_btn { border-left : 1px solid var(--border-transparent); border-radius : 0 0.25em 0.25em 0;}
.right_border_btn { border-right : 1px solid var(--border-transparent); border-radius : 0.25em 0 0 0.25em;}
.center_border_btn { border-right : none; border-left : none; border-radius : 0;}
.btn_container {
	/* Consider setting back to 1em for larger heights */
	margin-top: 0.5em;
	padding-top: 0.5em;
	position : relative;
}

.btn_container::before {
	content : '';
	position : absolute;
	width : 100%;
    background : var(--fading-border);
	height : 1px;
	top : 0;
	left : 0;
}

.alt_logo_btn {
	background-image : linear-gradient(to right, var(--light-blue) 50%, var(--blue) 50%);
	color : var(--font-clr-alt) !important;
}

/* Utilities */
.hide { display : none; }
.show { display : block; }
.disabled { pointer-events : none; opacity : 0.3;}
.inline { display : inline-block;}
.auto_width { width : auto; }
.active { font-weight : 700; }
.light_btn.active, .dark_btn.active, .pink_btn.active { background-color : var(--bck-clr); font-weight : 400; color : var(--font-clr);}
.sans { font-family : Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; }
.serif { font-family : neuton, Cambria, Georgia, serif; }
.js_off {
	position : fixed;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	-webkit-backdrop-filter : blur(10px);
    backdrop-filter : blue( 10px );
	background : rgba(255, 255, 255, 0.9);
	z-index : 100;
	padding-top : 4em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bck-clr : #262626;
        --header-clr : #1A1A1A;
        --font-clr : #f3f3f3;
        --bold : #F9F9F9;
        --italic : #FFF;
        --border-clr : #1A1A1A;
        --logo-bck-clr : #1A1A1A;
        --fading-border : linear-gradient(to right, rgba(26,26,26,0) 5%, rgba(26,26,26,1) 50%, rgba(26,26,26,0) 95%);
    }
	header ul li::after { display : none !important; }
}

@media (prefers-reduce-motion: reduce) {
    body, html { transition : background 1ms ease; }
    a { transition : opacity 1ms ease; }
    .logo span { transition : 1ms background-color ease; }
    .welcome_para { transition : background-color 1ms ease, box-shadow 0.6s ease; }
    .std_btn { transition : 1ms all ease; }
    #theme_warning { transition : opacity 1ms ease-in-out; }
}

@media screen and (max-width : 20em) {
	body { font-size : 1em; }
}

@media screen and (min-width : 85em) {
	body { font-size : 1.25em; }
}

@media screen and (min-width : 120em) {
	body { font-size : 1.75em; }
}

@media screen and (min-width : 50em) {
	header ul li { display : inline-block; }
	header ul li::after { display : none !important; }
	.welcome_para {
		width : 17.5em;
		display : inline-block;
		margin-right : 1em;
		padding : 0;
		margin-top : 4em;
		line-height : 1.7em;
		box-shadow : none;
	}

	.welcome_text .paper {
		width : 17.5em;
		display : inline-block;
		margin-left : 1em;
		margin-top : 0;
		z-index : auto;
	}

	.results_list {
		display : inline-block;
		width : 17.5em;
		margin-right : 1em;
	}

	.reviewPhrases {
		display : inline-block !important; /* needs to override .show class should the user resize the page while review phrases has been displayed via button */
		position : relative;
		width : 17.5em;
		min-height : 20em;
		height : 20em;
		margin-left : 1em;
		overflow-y : auto;
		overflow-x : hidden;
		background-color : transparent;
	}
	.reviewPhrases .label { color : inherit;}
	.change_font { position : relative;  margin-top : 0;}
	.dark .reviewPhrases { background-color : transparent; }
	#reviewPhrases { display : none; }
	#closePhrases { display : none; }
}

@media screen and (max-width : 20em) {
	.welcome_text .paper {
		margin-top : -6em;
		z-index : -2;
		position : relative;
	}
	.welcome_para {
		box-shadow: 0em 1.5em 1em var(--bck-clr);
		background-color : var(--bck-clr);
	}
	.results_list li { margin-bottom : 0.2em; }
	.results_list li::after { margin-top : 0.2em; }
	.text { margin-top : -0.2em;}
}

@media screen and (min-width : 40.625em) {
	.btn_container {
		margin-top: 1em;
		padding-top: 1em;
	}
}

@media screen and (min-height : 41.6875em) {
	.btn_container { margin-top : 1em; }
}

@media screen and (min-height : 46em) {
	.btn_container { padding-top : 1em; }
}
