/* 
try a coloured/multi-coloured design logo, 
add a style for button 'review phrases' on the mobile side so that it doesn not have right sided curved borders, 
check styles on mobile,
*/

/* Variables */
$background-dark : #262626;
$background-light : #fff;
$background-pink : #F1D3DB;
$dark-font-color : #f3f3f3;
$background-light-alt : #F8F7F2;
$border-color : #BFBFBF;
$border-color-dark : #1A1A1A;
$light-blue : #1CB0AD;
$red-colour : #DA2741;
$darker-red-colour : #DB1957;
$green-colour : #00A866;
$blue-colour : #00A5D0;
$logo-background-pink : #F8F7F2;
$logo-background-dark : #1a1a1a;

@mixin fading-border-light() {
	background : linear-gradient(to right, rgba(226,196,188,0) 5%, rgba(226,196,188,1) 50%, rgba(226,196,188,0) 95%);
}

@mixin fading-border-dark() {
	background : linear-gradient(to right, rgba(26,26,26,0) 5%, rgba(26,26,26,1) 50%, rgba(26,26,26,0) 95%);
}

/*Basic Styling */
*{
	box-sizing : border-box;
	vertical-align : baseline;
	-webkit-font-smoothing : antialiased;
}

strong, bold {
	font-weight : 700;
	color : $border-color-dark;
}

.dark strong, .dark bold {
	color : #F9F9F9;
}

i, em {
	font-weight : 400;
	color : #222;
}

.dark i, .dark em {
	color : $background-light;
}

body, html{
	margin : 0;
	padding : 0;
	font-size : 112.5%;
	text-align : center;
	transition : background 0.6s ease;
	line-height : 1.5em;
	font-family : neuton, Cambria, Georgia, serif;
	color : $background-dark;
}

body {
	/*iphone 4 screen size */
	min-width : 320px;
	min-height : 480px;
	background-color : $background-light;
}

@media screen and (max-width : 20em) {
	body { font-size : 100%; }
}

@media screen and (min-width : 85em) {
	body { font-size : 125%; }
}

@media screen and (min-width : 120em) {
	body { font-size : 175%; }
}

.dark{
	background-color : $background-dark;
	color : $dark-font-color;
}

.pink {
	background-color : $background-pink;
}

a {
	text-decoration : none;
	color : $light-blue;
	transition : opacity 0.6s ease;
}

ul {
	padding : 0;
	margin : 0;
}

ul li {
	list-style : none;
}

section {
	display : none;
	margin : 0 auto;
	margin-bottom : 4em;
	max-width : 1920px;
	max-height : 1080px;
}

header { width : 100%; }
.dark header { background-color : $border-color-dark; }
.pink header { background-color : $background-light-alt; }
header ul {
	text-align : left;
	padding : 0.5em;
}

header ul li:not(.inline) {
	margin-bottom : 0.3em;
}

@media screen and (min-width : 50em) {
	header ul li { display : inline-block; }
	header ul li::after { display : none !important; }
	.dark header ul li::after { display : none !important; }
}

header ul li:not(.inline)::after {
	content : '';
	display : block;
	width : 100%;
	height : 1px;
	margin-top : 0.3em;
	@include fading-border-light;
}

.dark header ul li:not(.inline)::after {
	@include fading-border-dark;
}

.style_controls {
	position : relative;
	font-size : 0.8em;
	padding-bottom : 0.5em;
}

/* Styles */
.logo {
	font-family : satisfy, cursive;
	font-weight : 400;
	font-size : 1.25em;
	position : relative;
	margin : 0;
	padding : 1em 0 0.6em 0;
	z-index : 3;
}

.logo span { background : $background-light; transition : 0.6s background-color ease; position : relative;}
.dark .logo { background : $logo-background-dark; }
.dark .logo span { background : $logo-background-dark; }
.pink .logo { background : $logo-background-pink; }
.pink .logo span { background : $logo-background-pink; }

.logo::before {
	@include fading-border-light;
	position : absolute;
	height : 1px;
	width : 100%;
	top : 55%;
	left : 0;
	content : '';
	display : block;
	z-index : -1;
}

.dark .logo::before {
	@include fading-border-light;
}

.logo span::after {
	content : url(../../imgs/logo_img.svg);
	position : absolute;
	top: -60%;
	left: 34%;
	width: 40%;
}

.data { display : none; }

.welcome_para {
	width : 100%;
	padding : 0 10%;
	margin : 0 auto;
	margin-bottom : 1em;
	text-align : left;
	position : relative;
	transition : all 0.6s ease;
	transition-property : background-color, box-shadow;
}

@media screen and (max-width : 20em) {
	.welcome_text .paper {
		margin-top : -6em;
		z-index : -2;
		position : relative;
	}
	.welcome_para {
		box-shadow: 0em 1.5em 1em $background-light;
		background-color : $background-light;
	}
	.dark .welcome_para {
		background-color : $background-dark;
		box-shadow : 0em 1.5em 1em $background-dark;
	}
	.pink .welcome_para {
		background-color : $background-pink;
		box-shadow : 0 1.5em 1em $background-pink;
	}
}

@media screen and (min-width : 50em) {
	.welcome_para{
		width : 17.5em;
		display : inline-block;
		margin-right : 1em;
		padding : 0;
		margin-top : 4em;
		line-height : 1.7em;
		box-shadow : none;
	}
	.welcome_text .paper {
		width : 17.5em;
		display : inline-block;
		margin-left : 1em;
		margin-top : 0;
		z-index : auto;
	}
}

.error_msg {
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index : 10;
}

.internal_error_msg {
	width : 50%;
	border : 1px solid $red-colour;
	background-color : $background-dark;
	margin-top : 15%;
	border-radius : 0.125em;
	margin-left : 25%;
	padding : 1em;
	box-shadow : 0 0 5em $background-dark;
	color : $dark-font-color;
}

.label {
	width : 5em;
	display : inline-block;
	text-align : left;
	margin-left : 0.5em;
	font-weight : 200;
}

.language_select {
	margin-left : 0.5em;
	margin-top : 1em;
}

.circleNum {
	color : $dark-font-color;
	background-color : $blue-colour;
	width : 1.7em;
	height : 1.7em;
	border-radius : 1.7em;
	display : inline-block;
	text-align : center;
}
.results_answer.circleNum, .answer_num.circleNum { background-color : $green-colour; }

.question_answer { margin : 0 0 2em 0; }
.question_answer::before {
	content : '';
	display : block;
	width : 100%;
	height : 1px;
	@include fading-border-light;
}
.dark .question_answer::before { @include fading-border-dark; }
.question .circleNum {font-weight : 200; margin-right : 0.5em; font-size : 0.6em;}

.question, .answer { animation-duration : 0.6s !important;}

.results_list {
	text-align : left;
}

.results_list li {
	margin-bottom : 0.4em;
}

.results_list li::after {
	content : '';
	display : block;
	width : 100%;
	height : 1px;
	@include fading-border-light;
	margin-top : 0.4em;
}

@media screen and (max-width : 20em) {
	.results_list li { margin-bottom : 0.2em; }
	.results_list li::after { margin-top : 0.2em; }
}

.dark .results_list li::after {  @include fading-border-dark; }

.results_list .phrases::after { display : none; }
.dark .results_list .phrases::after { display : none; }
.fullWidth { width : auto; }
.results_phrases { margin-left : 0.5em; display : inline-block;}

/* Paper Background : http://www.techrepublic.com/blog/web-designer/how-to-get-the-ruled-paper-background-effect-with-css3/*/
.paper {
	position: relative;
	margin : 0 auto;
	padding : 0 0 0.3125em 2.625em;
	color : #444;
	line-height : 1.25em;
	background-image : linear-gradient(to top, #d9eaf3 0%, $background-light-alt 8%);
	background-size : 100% 1.25em;
	border-radius : 0.1875em;
	box-shadow : 0 0.125em 0.25em rgba(0, 0, 0, 0.4);
	width : 80%;
	text-align : left;
	font-family : satisfy, cursive;
}

.paper::before {
	content : '';
	position : absolute;
	width : 0.25em;
	top : 0;
	left : 1.875em;
	bottom : 0;
	border : 1px solid;
	border-color : transparent #efe4e4;
}

.head {
	background-color : $background-light-alt;
	min-height : 1.875em;
	margin-left : -2.625em;
	margin-top : -0.25em;
}

.text { margin-top : -0.25em; line-height : 1.30em;}

@media screen and (max-width : 20em){
	.text { margin-top : -0.2em;}
}

.reviewPhrases {
	position : fixed;
	overflow-y : auto;
	overflow-x : hidden;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	display : none;
	background-color : rgba(255,255,255,0.7);
	z-index : 10;
	min-height : 32em;
	-webkit-overflow-scrolling : touch;
}

.dark .reviewPhrases { background-color : rgba(0,0,0,0.7); }

.reviewPhrases .paper {
	margin-top : 1em;
	margin-bottom : 5em;
	width : 95%;
}

.change_font {
	position: absolute;
	z-index: 5;
	width: 100%;
	margin-top: 1em;
	text-align: left;
	margin-left: 0.5em;
}

.reviewPhrases .label { margin-right :0.5em; width : auto; margin-left : 0; color : $background-dark;}

@media screen and (min-width : 50em) {
	.results_list {
		display : inline-block;
		width : 17.5em;
		margin-right : 1em;
	}

	.reviewPhrases {
		display : inline-block !important; /* needs to override .show class should the user resize the page while review phrases has been displayed via button */
		position : relative;
		width : 17.5em;
		min-height : 20em;
		height : 20em;
		margin-left : 1em;
		overflow-y : auto;
		overflow-x : hidden;
		background-color : transparent;
	}
	.reviewPhrases .label { color : inherit;}
	.change_font { position : relative;  margin-top : 0;}
	.dark .reviewPhrases { background-color : transparent; }
	#reviewPhrases { display : none; }
	#closePhrases { display : none; }
}
/* Form Elements */
.dark .std_btn {
	border : 1px solid $blue-colour;
	background-color : $blue-colour;
	color : $dark-font-color;
}
.std_btn {
	background : $blue-colour;
	border : 1px solid $blue-colour;
	border-radius : 0.25em;
	color : $dark-font-color;
	font-size : 1em;
	padding : 0.2em 0.5em;
	font-family : satisfy, neuton, serif;
	position : relative;
	transition : 0.6s all ease;
	transition-property : color, border;
	cursor : pointer;
	display : inline-block;
	margin : 0;
}
.std_btn:disabled{ opacity : 0.2; }
.error_btn, .dark .error_btn{ border-color : $red-colour; background-color : $red-colour;}
.correct_btn, .dark .correct_btn{ border-color : $green-colour; background-color : $green-colour;}
.file { display : none; }
.logo_btn { background-color : $light-blue; }
.fixed_right_btn {
	position : fixed;
	right : 0.5em;
	top : 2.5em;
	z-index : 11;
}
.left_border_btn, .dark .left_border_btn { border-left : 1px solid rgba(26,26,26,0.2); border-radius : 0 0.25em 0.25em 0;}
.right_border_btn, .dark .right_border_btn { border-right : 1px solid rgba(26,26,26,0.2); border-radius : 0.25em 0 0 0.25em;}
.center_border_btn, .dark .center_border_btn { border-right : none; border-left : none; border-radius : 0;}
.btn_container {
	/* Consider setting back to 1em for larger heights */
	margin-top: 0.5em;
	padding-top: 0.5em;
	position : relative;
}
@media screen and (min-width : 40.625em) {
	.btn_container {
		margin-top: 1em;
		padding-top: 1em;
	}
}

@media screen and (min-height : 41.6875em) {
	.btn_container { margin-top : 1em; }
}

@media screen and (min-height : 46em) {
	.btn_container { padding-top : 1em; }
}

.btn_container::before {
	content : '';
	position : absolute;
	width : 100%;
	@include fading-border-light;
	height : 1px;
	top : 0;
	left : 0;
}

.dark .btn_container::before {
	@include fading-border-dark;
}

.alt_logo_btn {
	background-image : linear-gradient(to right, $light-blue 50%, $blue-colour 50%);
	color : $dark-font-color !important;
}

/* Utilities */
.hide { display : none; }
.show { display : block; }
.disabled { pointer-events : none; opacity : 0.3;}
.inline { display : inline-block;}
.auto_width { width : auto; }
.active { font-weight : 700; }
.light_btn.active { background-color : $background-light; font-weight : 400; color : $background-dark;}
.dark_btn.active { color : $dark-font-color; background-color : $background-dark; font-weight : 400;}
.pink_btn.active { color : $background-dark; background-color : $background-pink; font-weight : 400; }
.sans { font-family : Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; }
.serif { font-family : neuton, Cambria, Georgia, serif; }
.js_off {
	position : fixed;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	-webkit-backdrop-filter : blur(10px);
	background : rgba(255, 255, 255, 0.9);
	z-index : 100;
	padding-top : 4em;
}