/* Colours :
	background-dark : #262626;
	dark-font-color : #F3F3F3;
	background : white;
	font-color : #262626;
	border-color : #BFBFBF;
	border-color-dark : #1A1A1A;
	light-blue : #66CCFF;
*/

/*Basic Styling */
*{
	box-sizing : border-box;
	vertical-align : baseline;
}

strong, bold {
	font-weight : 700;
	color : #1A1A1A;
}

.dark strong, .dark bold {
	color : #F9F9F9;
}

i, em {
	font-weight : 400;
	color : #222;
}

.dark i, .dark em {
	color : #fff;
}

body, html{
	margin : 0;
	padding : 0;
	font-size : 112.5%;
	text-align : center;
	transition : background 0.6s ease;
	line-height : 1.5em;
	font-family : neuton, Cambria, Georgia, serif;
	color : #262626;
}

body {
	/*iphone 4 screen size */
	min-width : 320px;
	min-height : 480px;
	background-color : #fff;
}

@media screen and (max-width : 20em) {
	body { font-size : 100%; }
}

@media screen and (min-width : 85em) {
	body { font-size : 125%; }
}

@media screen and (min-width : 120em) {
	body { font-size : 175%; }
}

.dark{
	background-color : #262626;
	color : #F3F3F3;
}

a {
	text-decoration : none;
	color : #66CCFF;
	transition : opacity 0.6s ease;
}

ul {
	padding : 0;
	margin : 0;
}

ul li {
	list-style : none;
}

section {
	display : none;
	margin : 0 auto;
	margin-bottom : 4em;
	max-width : 1920px;
	max-height : 1080px;
}

header {
	width : 100%;
	display : none;
}

header ul {
	text-align : left;
	padding : 0.5em;
}

header ul li:not(.inline) {
	margin-bottom : 0.3em;
}

@media screen and (min-width : 50em) {
	header ul li { display : inline-block; }
	header ul li::after { display : none !important; }
	.dark header ul li::after { display : none !important; }
}

header ul li:not(.inline)::after {
	content : '';
	display : block;
	width : 100%;
	height : 1px;
	background : linear-gradient(to right, transparent 5%, #BFBFBF 50%, transparent 95%);
	margin-top : 0.3em;
}

.dark header ul li:not(.inline)::after {
	background : linear-gradient(to right, transparent 5%, #1A1A1A 50%, transparent 95%);
}

footer{
	position : fixed;
	bottom : 0;
	width : 100%;
	padding : 0.5em;
	background-color : #66CCFF;
	color : #262626;
	min-width : 20em;
	overflow-x : auto;
	z-index : 20;
}

footer::before {
	content : '';
	display : block;
	position : fixed;
	width : 100%;
	height : 1px;
	bottom : 3.1em;
	left : 0;
	background : linear-gradient(to right, transparent 5%, #BFBFBF 50%, transparent 95%);
}

.dark footer::before {background : linear-gradient(to right, transparent 5%, #1A1A1A 50%, transparent 95%);}

/* Styles */
.logo {
	font-family : satisfy, cursive;
	font-weight : 400;
	font-size : 1.25em;
	position : relative;
}

.logo span { background : white; transition : 0.6s background-color ease;}
.dark .logo span { background : #262626; }

.logo .light_blue { padding-left : 0.25em; 	position : relative;}

.alt { color : #F3F3F3; }

.alt .blue, .alt .light_blue {
	background-color : #004080;
	padding : 0.1em 0.375em;
	border-radius : 1.875em 0em 0em 1.875em;
}

.alt .light_blue {
	background-color : #66CCFF;
	border-radius : 0em 1.875em 1.875em 0em;
}

.logo::before {
	background: linear-gradient(to right, transparent 5%, #BFBFBF 50%, transparent 95%);
	position : absolute;
	height : 1px;
	width : 100%;
	top : 50%;
	left : 0;
	content : '';
	display : block;
	z-index : -1;
}

.dark .logo::before {
	background : linear-gradient(to right, transparent 5%, #1A1A1A 50%, transparent 95%);
}

.light_blue::after {
	content : url(../imgs/logo_img.svg);
	position : absolute;
	top : -45%;
	left : -95%;
	width : 110%;
}

.welcome_para {
	width : 100%;
	padding : 0 10%;
	margin : 0 auto;
	margin-bottom : 1em;
	text-align : left;
	position : relative;
	transition : all 0.6s ease;
	transition-property : background-color, box-shadow;
}

@media screen and (max-width : 20em) {
	.welcome_text .paper {
		margin-top : -6em;
		z-index : -2;
		position : relative;
	}
	.dark .welcome_para {
		background-color : #262626;
		box-shadow : 0em 1.5em 1em #262626;
	}
	.welcome_para {
		box-shadow: 0em 1.5em 1em white;
		background-color : white;
	}
}

@media screen and (min-width : 50em) {
	.welcome_para{
		width : 17.5em;
		display : inline-block;
		margin-right : 1em;
		padding : 0;
		margin-top : 4em;
		line-height : 1.7em;
		box-shadow : none;
	}
	.welcome_text .paper {
		width : 17.5em;
		display : inline-block;
		margin-left : 1em;
		margin-top : 0;
		z-index : auto;
	}
}

.error_msg {
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	-webkit-backdrop-filter : blur(10px);
	background-color : rgba(255,255,255,0.7);
	z-index : 10;
}

.dark .error_msg {
	background-color : rgba(0,0,0,0.7);
}

.internal_error_msg {
	width : 70%;
	border : 1px solid #FF0000;
	margin-top : 15%;
	border-radius : 0.125em;
	margin-left : 15%;
	padding : 1em;
}

.label {
	width : 5em;
	display : inline-block;
	text-align : left;
	margin-left : 0.5em;
	font-weight : 200;
}

.language_select {
	margin-left : 0.5em;
	margin-top : 1em;
}

.circleNum {
	border : 1px solid #BFBFBF;
	width : 1.7em;
	height : 1.7em;
	border-radius : 1.7em;
	display : inline-block;
	text-align : center;
}

.question_answer { margin : 0 0 2em 0; }
.question_answer::before {
	content : '';
	display : block;
	width : 100%;
	height : 1px;
	background : linear-gradient(to left, transparent 5%, #BFBFBF 50%, transparent 95%);
}
.dark .question_answer::before { background : linear-gradient(to left, transparent 5%, #1A1A1A 50%, transparent 95%); }
.question .circleNum {font-weight : 200; margin-right : 0.5em; font-size : 0.6em;}

.question, .answer { animation-duration : 0.6s !important;}

.results_list {
	text-align : left;
}

.results_list li {
	margin-bottom : 0.4em;
}

.results_list li::after {
	content : '';
	display : block;
	width : 100%;
	height : 1px;
	background : linear-gradient(to right, transparent 5%, #BFBFBF 50%, transparent 95%);
	margin-top : 0.4em;
}

@media screen and (max-width : 20em) {
	.results_list li { margin-bottom : 0.2em; }
	.results_list li::after { margin-top : 0.2em; }
}

.dark .results_list li::after {  background : linear-gradient(to right, transparent 5%, #1A1A1A 50%, transparent 95%);}

.results_list .phrases::after { display : none; }
.dark .results_list .phrases::after { display : none; }
.fullWidth { width : auto; }
.results_phrases { margin-left : 0.5em; display : inline-block;}

/* Paper Background : http://www.techrepublic.com/blog/web-designer/how-to-get-the-ruled-paper-background-effect-with-css3/*/
.paper {
	position: relative;
	margin : 0 auto;
	padding : 0 0 0.3125em 2.625em;
	color : #444;
	line-height : 1.25em;
	background-image : linear-gradient(to top, #d9eaf3 0%, #fff 8%);
	background-size : 100% 1.25em;
	border-radius : 0.1875em;
	box-shadow : 0 0.125em 0.25em rgba(0, 0, 0, 0.4);
	width : 80%;
	text-align : left;
	font-family : satisfy, cursive;
}

.paper::before {
	content : '';
	position : absolute;
	width : 0.25em;
	top : 0;
	left : 1.875em;
	bottom : 0;
	border : 1px solid;
	border-color : transparent #efe4e4;
}

.head {
	background-color : #FFF;
	min-height : 1.875em;
	margin-left : -2.625em;
	margin-top : -0.25em;
}

.text { margin-top : -0.25em; line-height : 1.25em;}

@media screen and (max-width : 20em){
	.text { line-height : 1.3em; margin-top : -0.2em;}
}

.reviewPhrases {
	position : fixed;
	overflow-y : auto;
	overflow-x : hidden;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	display : none;
	background-color : rgba(255,255,255,0.7);
	z-index : 10;
	min-height : 32em;
}

.dark .reviewPhrases { background-color : rgba(0,0,0,0.7); }

.reviewPhrases .paper {
	margin-top : 1em;
	margin-bottom : 5em;
	width : 95%;
}

.change_font {
	position: absolute;
	z-index: 5;
	width: 100%;
	margin-top: 1em;
	text-align: left;
	margin-left: 0.5em;
}

.reviewPhrases .label { margin-right :0.5em; width : auto; margin-left : 0; color : #262626;}

@media screen and (min-width : 50em) {
	.results_list {
		display : inline-block;
		width : 17.5em;
		margin-right : 1em;
	}

	.reviewPhrases {
		display : inline-block !important; /* needs to override .show class should the user resize the page while review phrases has been displayed via button */
		position : relative;
		width : 17.5em;
		min-height : 20em;
		height : 20em;
		margin-left : 1em;
		overflow-y : auto;
		overflow-x : hidden;
		background-color : transparent;
	}
	.reviewPhrases .label { color : inherit;}
	.change_font { position : relative;  margin-top : 0;}
	.dark .reviewPhrases { background-color : transparent; }
	#reviewPhrases { display : none; }
	#closePhrases { display : none; }
}
/* Form Elements */
.dark .std_btn {
	color : #66CCFF;
	border : 1px solid #66CCFF;
}
.std_btn {
	background : transparent;
	border : 1px solid #004080;
	border-radius : 0.25em;
	color : #004080;
	font-size : 1em;
	padding : 0.2em 0.5em;
	font-family : satisfy, neuton, serif;
	position : relative;
	transition : 0.6s all ease;
	transition-property : color, border;
	cursor : pointer;
}

.dark footer .std_btn { color : #004080; border : 1px solid #004080;}
.std_btn:disabled{ opacity : 0.2; }
.error_btn, .dark .error_btn { color : #FF0000; border-color : #FF0000;}
.correct_btn, .dark .correct_btn { color : #008040; border-color : #008040;}
.file {
	display : none;
}

.fixed_right_btn {
	position : fixed;
	right : 0.5em;
	top : 2.5em;
	z-index : 11;
}

.btn_container {
	/* Consider setting back to 1em for larger heights */
	margin-top: 0.5em;
	padding-top: 0.5em;
	position : relative;
}
@media screen and (min-width : 40.625em) {
	.btn_container {
		margin-top: 1em;
		padding-top: 1em;
	}
}

@media screen and (min-height : 41.6875em) {
	.btn_container { margin-top : 1em; }
}

@media screen and (min-height : 46em) {
	.btn_container { padding-top : 1em; }
}

.btn_container::before {
	content : '';
	position : absolute;
	width : 100%;
	background: linear-gradient(to left, transparent 5%, #BFBFBF 50%, transparent 95%);
	height : 1px;
	top : 0;
	left : 0;
}

.dark .btn_container::before {
	background: linear-gradient(to left, transparent 5%, #1A1A1A 50%, transparent 95%);
}

/* Utilities */
.hide { display : none; }
.show { display : block; }
.disabled { pointer-events : none; opacity : 0.3;}
.inline { display : inline-block;}
.auto_width { width : auto; }
.active { font-weight : 700; }
.light_btn.active { background-color : white; font-weight : 400;}
.dark_btn.active { color : #F3F3F3 !important; background-color : #262626; font-weight : 400;}
.sans { font-family : Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; }
.serif { font-family : neuton, Cambria, Georgia, serif; }